body {
    background-image: url('../img/pattern.jpg');
    margin: 0;
}

header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

nav {
    padding-left: 0px;
}

ul {
    list-style-type: none;
}

ul li {
    display: inline-block;
    padding-right: 10px;
}

a {
    text-decoration: none;
}

section {
    background-color: white;
    margin: 90px 125px 30px;
}

h1 {
    text-align: center;
    padding-top: 20px;
}

#article-list {
    padding: 5px 10px 5px 10px;
}

article {
    border-bottom: 1px solid black;
}

footer {
    background-color: black;
    padding: 0.2px;
}

h5 {
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: medium;
}